:root {
    --main-bg-color: brown;
    --green: #007d75;
    --blue: #2d6895;
    --brown: #6b5c43;
    --red: #E60012;
    --grey: #61605b;
    --yellow: #f1e26f;
}


body {
    background-image: url("https://i.ibb.co/4t1MVbZ/Image-1.png");
    font-family: zilla slab, sans-serif;
    font-size: 16px;
}

#notebook {
    background-color: white;
    background-image: url("https://i.ibb.co/hZ8wB7n/Component-2-1.png");
    background-repeat: repeat;
    width: 90%;
    margin: auto;
    display: block;
    border-radius: 16px;
    margin-top: 3%;
}

#fullPage {
    padding: 2vw;
    padding-top: 2vw;
    display: flex;
    flex-direction: row;
}

/*#fullpage::after {
  content: "";
    width: 100px;
    height: 100%;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(to right, transparent 10%, rgba(153, 153, 153, 0.05) 50%, rgba(153, 153, 153, 0.4) 51%, rgba(153, 153, 153, 0.15) 51.5%, transparent 90%);

 
}*/

#leftSide {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
    align-self: baseline;
}

#map {
    flex-basis: 55%;
    font-weight: 900;
    font-size: 1rem;
    align-self: end;
    /*  margin-top: -10px;
*/
}

#map img {
    flex-basis: 100%;
    height: auto;
    margin-right: 5%;
    align-self: center;
    width: 100%;
    margin-top: 6%;
}

.mapInfo {
    display: flex;
    flex-basis: 50%;
    color: var(--blue)
}

#islandName {
    font-size: 1.5em;
    flex-basis: 50%;

}

#date {
    font-size: 1.5em;
    text-align: right;
    flex-basis: 50%;

}

.bookmark {
    background-color: #2d6895;
    height: auto;
    margin-bottom: 0px;
    color: #fff;
    z-index: -1;
    background-image: url("https://i.ibb.co/Rh4yfMP/Group-19.png");
    box-shadow: 0px 1px 7px #999;

}

#choreList {
    display: inline-block;
    position: relative;
    top: 0px;
    font-size: 0.5rem;
    width: 100%;
    z-index: 5;
    margin: auto;
}

#choreList li {}

#choreList h1 {
    font-size: 3.5em;
    font-weight: 900;
    margin-left: 20px;
    margin-bottom: 5px;
}

.listOfChores {
    list-style: none;
    padding-left: 20px;
}

.listContainer {
    margin-left: 1em;
    font-size: 2em;
    font-size: 2em;
    font-family: "Libre Franklin", sans-serif;
    line-height: 2em;

}

/*input[type=radio],
input[type=checkbox] {
    position: absolute;
    top: auto;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

input[type=radio]+label::before,
input[type=checkbox]+label::before {
    content: '';
    background: #fff;
    border: .1em solid white;
    background-color: transparent;
    display: block;
    box-sizing: border-box;
    float: left;
    width: 1em;
    height: 1em;
    margin-left: -1.5em;
    margin-top: .45em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all .1s ease-out;
}*/

/*input[type=checkbox]{
    border-radius: 100%;
    margin-right: 1em;
}


input[type=checkbox]:checked {
    background-color: #2d6895;
    border: 0px;

}

input[type=checkbox]:checked+label {
    color: #2d6895 !important;
    font-style: italic;
    text-decoration: line-through;

}
*/
#choreInput {
    display: inline-block;
    margin: auto;
    text-align: center;
    position: relative;
    width: 100%;
    line-height: 50px;
}

#choreInput input {
    background: transparent;
    border: none;
    border-bottom: 3px solid white;
    width: 90%;
    font-family: "Libre Franklin", sans-serif;
    color: white;
    font-size: 1em;
}

#choreInput button {
    font-size: 1em;
    border: 3px solid white;
    border-radius: 20px;
    padding: 0.25em 0.5em;
    font-weight: 500;
    text-align: center;
    display: block;
    margin-top: .5em;
    margin-left: 50%;
    width: 45%;
    background: transparent;
    color: white;
    font-family: zilla slab, sans-serif;

}

#choreInput button:hover {
    background: #2d6895;
}

#timmy {
    display: inline-block;
    width: 50%;
    float: left;
    z-index: 4;
    margin-top: -5em;

}

#timmy img {
    width: 60%;
}

.bookmarkBottom {
    position: relative;
    width: 100%;
    align-self: center;
    left: 0;
    padding-top: 0px;
    margin-bottom: 0px;
    z-index: 6;

}

.bookmarkBottom img {
    width: 100%;
}
.bookmarkBottom-wrap {

    z-index: 3;

}

.bookmarkContainer {
    flex-basis: 40%;
    z-index: 1;
    margin-left: 5%;
    margin-top: -5.5%;
    align-self: flex-start;
}

.villagerHeaderContainer {
    display: flex;
    align-items: center;
}

.villagerContainer{
    margin-top: 20px;
}
#villagerHeader {
    font-size: 1.5em;
    display: inline-block;
    color: var(--red);
}

#editVillagers {
    font-size: 1em;
    border: 3px solid var(--red);
    border-radius: 20px;
    padding: 0.25em 0.5em;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    /* margin-top: .5em; */
    margin-left: 1em;
    /* width: 40%; */
    background: transparent;
    color: var(--red);
    font-family: zilla slab, sans-serif;


}

#villagers {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#villagers p {
    margin: 0px;
}

.villager {
    flex-basis: 30%;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    color: var(--grey);
}

.villagerInfo {
    flex-basis: 50%;
}

.villagerName {
    font-size: 1em;
    font-weight: 700;
}


.villagerClass,
.villagerMoveIn {
    font-size: .75em;
    font-family: "Libre Franklin", sans-serif;
}

.villagerImageWrap {
    flex-basis: 50%;
    width: 50%;

}

.villagerImage {
   width: 4em;
               height:4em;
               object-fit:contain;
    border: 4px solid #f8f8f0;
    border-radius: 50%;
    display: block;
/*    background: #98d2e3;
*/}

#middle{
  flex-basis: 1%;
    margin-top: -2vw;
    margin-bottom: -2vw;
    border-right: 1px solid #999;
}
#rightSide {
    display: flex;

    flex-flow: row wrap;
    align-content: space-between;
    width: 50%;
    margin-left: 2%;

}

#col-1 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#col-2 {
    flex-basis: 50%;
    flex-direction: column;
    display: flex;

}

#notes h1 {
    font-size: 1.5em;
    font-weight: 900;
    padding-top: 0px;
    margin-top: 0px;


}

#notes textarea {
    font-size: 1em;
    font-family: "Libre Franklin", sans-serif;
    line-height: 1.75em;
    background: transparent;
    color: var(--brown);
    border: 0px;
    height: 90%;
    flex-basis: 100%;
    width: 100%;
}

.overlay {


    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

#timmyMobile {
    display: none;

}


#notes {
    height: 70%;
    color: var(--brown);
    overflow: hidden;
}

#mortage {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#mortage h1 {
    font-size: 1.5em;
    margin-top: 0px;
    text-align: right;
    color: var(--green);

}

#mortage-inner {
    flex-basis: 60%;
}

#tomNook {
    flex-basis: 40%;
    margin-top: 18%;
}

#tomNook img {
    width: 80%;
}

#math {
    flex-basis: 50%;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;


}

.mathInput {
    font-size: 1.5em;
    background: transparent;
    width: 100%;
    font-family: zilla slab, sans-serif;
    border: 0px;
    font-weight: bold;
    text-align: right;
    color: var(--green);

}

#math label {
    font-size: .5em;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;

}

#stalk {
    flex-basis: 50%;
/*    background: yellow;
*/}

#cost, #earnings{
  display: flex;
    align-items: center;
    margin-top: 1em;
}
#stalk h1{
  font-size: 1.5em;
  color: var(--brown);
  margin-top: 0px;
}
#stalkInner{
  margin: 10px;
  background: var(--yellow);
  padding:5%;
  transform: rotate(2deg);
  padding-bottom: 14%;
  padding-top: 14%;
  box-shadow: 0px 1px 7px #999;
}

.stalkInputs{
  flex-basis:  20%;
  display: inline-block;
  text-align: center;
}

.stalkOutputs{
   

}

.stalkInputs label{
  color: var(--brown);
      font-family: "Libre Franklin", sans-serif;
font-size: .75em;
}
.stalkMathInput, .stalkOutputs {
/*    display: inline-block;
*/    font-size: 1.75em;
    background: transparent;

    font-family: zilla slab, sans-serif;
    border: 0px;
    font-weight: bold;

    color: var(--brown);
    width: 100%;
    text-align: center;
}

.stalkOperation {
    font-size: 1.5em;
    font-family: zilla slab, sans-serif;
    color: var(--brown);
    font-weight: bold;
    display: inline-block;
    text-align: center;
    flex-basis: 20%;

}

#profits{
  margin-top: 30px;
text-align: right;
}
#totalProfit{
  border: 3px solid var(--blue);
  border-radius: 50%;
  padding:17px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
}

#museum {
    border: 3px solid var(--blue);
    margin-left: 5%;
    flex-basis: 50%;
    color: var(--blue)
}

#museum h1 {
    font-size: 1.5em;
    padding: 10px;
    margin: 0px;
}

#museum hr {
    margin: 0px;
    border-top: 3px solid var(--blue);
}

#museum ul {
    font-family: "Libre Franklin", sans-serif;
    line-height: 1.5em;
}

#blathers {
    left: 50%;
    margin-top: -49%;
    position: relative;
    width: 58%;
    align-self: self-end;
}

#museumListContainer {
    /*  display: flex;
  flex-direction: row;
  align-items: flex-end;*/
}



.tape {
  background-color: hsla(0,0%,100%,.2);
  box-shadow: inset 0 0 1em .5em hsla(0,0%,100%,.1);
  height: 3em;
  position: absolute;
 transform: rotate(2deg);
    width: 22%;
  -webkit-filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.3));
  z-index: 4;
}

.tape-2 {
  background-color: hsla(0,0%,100%,.2);
  box-shadow: inset 0 0 1em .5em hsla(0,0%,100%,.1);
  height: 3em;
  position: absolute;
 transform: rotate(-30deg);
    width: 10%;
  -webkit-filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.3));
  z-index: 4;
      margin-top: 2%;
    margin-left: -2%;
}
.tape-3 {
  background-color: hsla(0,0%,100%,.2);
  box-shadow: inset 0 0 1em .5em hsla(0,0%,100%,.1);
  height: 3em;
  position: absolute;
 transform: rotate(-30deg);
    width: 10%;
  -webkit-filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.3));
  z-index: 4;
      margin-top: -4%;
    margin-left: 14%;
}

.tape:after,
.tape:before {
  background-size: .4em .4em;
  bottom: 0;
  content: '';
  position: absolute;
  top: 0;
  width: .2em;
}
.tape:after {
  background-image: linear-gradient(45deg, transparent 50%, hsla(0,0%,100%,.3) 50%),
                    linear-gradient(-45deg, transparent 50%, hsla(0,0%,100%,.3) 50%);
  background-position: 0 100%;
  left: -.2em;
}
.tape:before {
  background-image: linear-gradient(135deg, transparent 50%, hsla(0,0%,100%,.3) 50%),
                    linear-gradient(-135deg, transparent 50%, hsla(0,0%,100%,.3) 50%);
  background-position: 100% 100%;
  right: -.2em;
}

@media (max-width: 1280px) {
    #map {
        flex-basis: 100%;
    }

    .bookmarkContainer {
        flex-basis: 108%;
        margin-left: -8%;
        margin-top: 10%;
        border-radius: 16px;
    }

    .bookmarkBottom {
        display: none;
    }

    .bookmark {
        border-radius: 16px;
        box-shadow: 3px 0px 7px #AAA;
    }

    #timmy {
        display: none;
    }


    #timmyMobile {
        display: block
    }

    #choreList {
        display: flex;
        flex-direction: column;
    }

    #choreInput {
        padding-bottom: 3em;
    }

    .listContainer {
        display: flex;
        justify-content: space-between;
    }

    .mobile-list {
        flex-basis: 100%;
    }

    #timmyMobile {
        /* width: 45%;
      float: right;*/
    }

    #timmyMobile img {
        width: 45%;
        margin: auto;
        display: block;
    }
}